<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">

    <title>Адмін перегляд</title>
</head>

<body>
    <div class="wrapper">
        <main class="main">
            <div class="groups">
                <div class="group admin_view" th:each="student, stStat : ${students}">
                    <!--admin_view - модификатор. Если убрать - поле "Удалить" не отображаеться-->
                    <div class="group__number title" th:text="Группа + ' ' + ${stStat.index + 1}">Група 1</div>
                    <div class="group__list">
                        <div class="groupItem list__title">
                            <div class="groupItem__id">ID</div>
                            <div class="groupItem__lastName">Прізвище</div>
                            <div class="groupItem__name">Ім'я</div>
                            <div class="groupItem__bal">Бал</div>
                            <div class="groupItem__formLern">Форма навчання
                            </div>
                            <div class="groupItem__remove"></div>
                        </div>

                        <div class="groupItem" th:each="s, sStat : ${students.get(stStat.index)}">
                            <div class="groupItem__id" th:text="${sStat.index + 1}">1</div>
                            <div class="groupItem__lastName" th:text="${{s.getLastName()}}">Аккордеон</div>
                            <div class="groupItem__name" th:text="${{s.getFirstName()}}">Льоня</div>
                            <div class="groupItem__bal" th:text="${{s.getPoints()}}">200</div>
                            <div class="groupItem__formLern" th:text="${{s.getPriority()}}">Бюджет
                            </div>
                            <div class="groupItem__remove">
                                <form th:action="@{/groupView}" method="post" class="removeForm">
                                    <input type="hidden" th:value="${{s.getId()}}" name="studentId">
                                    <input type="submit" value="Видалити" class="removeForm__button">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="group admin_view">
                    <!--admin_view - модификатор. Если убрать - поле "Удалить" не отображаеться-->
                    <div class="group__number title">Несортовані</div>
                    <div class="group__list">
                        <div class="groupItem list__title">
                            <div class="groupItem__id">ID</div>
                            <div class="groupItem__lastName">Прізвище</div>
                            <div class="groupItem__name">Ім'я</div>
                            <div class="groupItem__bal">Бал</div>
                            <div class="groupItem__formLern">Форма навчання
                            </div>
                            <div class="groupItem__remove"></div>
                        </div>

                        <div class="groupItem" th:each="lSt, lStStat : ${leftStudents}">
                            <div th:text="${lStStat.index + 1}" class="groupItem__id">1</div>
                            <div th:text="${lSt.getLastName()}" class="groupItem__lastName">Аккордеон</div>
                            <div th:text="${lSt.getFirstName()}" class="groupItem__name">Льоня</div>
                            <div th:text="${lSt.getPoints()}" class="groupItem__bal">200</div>
                            <div th:text="${lSt.getPriority()}" class="groupItem__formLern">Бюджет
                            </div>
                            <div class="groupItem__remove">
                                <form th:action="@{/groupView}" method="post" class="removeForm">
                                    <input type="hidden" th:value="${{lSt.getId()}}" name="studentId">
                                    <input type="submit" value="Додати" class="removeForm__button">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>