<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Формування груп</title>
</head>

<body>
    <main class="main">
        <div class="panel formingGroupPanel">
            <div class="formingGroupPanel__title title">Уведіть параметри для формування груп</div>
            <form action="" class="formingGroupPanel__form formingGroupF" id="formingGroup">
                <div class="formingGroupF__body">
                    <div class="formingGroupF__numGroup">
                        <label for="numGroup" class="formingGroupF__label">
                            Кількість груп
                        </label>
                        <input type="number" id="numGroup" step="0" min="1" max="10" value="1"
                            class="formingGroupF__numInput input">
                    </div>
                    <div class="formingGroupF__precent">
                        <label for="precentBud" class="formingGroupF__label">
                            Відсоток бюджетників на групу
                        </label>

                        <input type="number" id="numGroup" step="0" min="0" max="100" value="30" name=""
                            class=" formingGroupF__numInput input">
                    </div>
                </div>
                <div class="formingGroupF__sub">
                    <input type="submit" name="" value="Сформувати списки" class="formingGroupF__subBut button">
                </div>
            </form>
        </div>
    </main>
</body>

</html>
