<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Group</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">

        </header>
        <main class="main">
            <div class="groups">
                <div class="group">
                    <div class="group__number">Группа 1</div>
                    <div class="group__list">
                        <div class="groupItem list__title">
                            <div class="groupItem__id">ID</div>
                            <div class="groupItem__name">Ім'я</div>
                            <div class="groupItem__lastName">Прізвище</div>
                            <div class="groupItem__bal">Бал</div>
                            <div class="groupItem__formLern">Форма навчання</div>
                        </div>
                        <div class="groupItem">
                            <div class="groupItem__id">1</div>
                            <div class="groupItem__name">Валентин</div>
                            <div class="groupItem__lastName">Коридор</div>
                            <div class="groupItem__bal">198</div>
                            <div class="groupItem__formLern">Бюджет</div>
                        </div>
                        <div class="groupItem">
                            <div class="groupItem__id">2</div>
                            <div class="groupItem__name"></div>
                            <div class="groupItem__lastName"></div>
                            <div class="groupItem__bal"></div>
                            <div class="groupItem__formLern">Бюджет</div>
                        </div>
                        <div class="groupItem">
                            <div class="groupItem__id">3</div>
                            <div class="groupItem__name"></div>
                            <div class="groupItem__lastName"></div>
                            <div class="groupItem__bal"></div>
                            <div class="groupItem__formLern">Бюджет</div>
                        </div>
                        <div class="groupItem">
                            <div class="groupItem__id">4</div>
                            <div class="groupItem__name"></div>
                            <div class="groupItem__lastName"></div>
                            <div class="groupItem__bal"></div>
                            <div class="groupItem__formLern">Бюджет</div>
                        </div>
                        <div class="groupItem">
                            <div class="groupItem__id">5</div>
                            <div class="groupItem__name"></div>
                            <div class="groupItem__lastName"></div>
                            <div class="groupItem__bal"></div>
                            <div class="groupItem__formLern">Бюджет</div>
                        </div>
                        <div class="groupItem">
                            <div class="groupItem__id">6</div>
                            <div class="groupItem__name"></div>
                            <div class="groupItem__lastName"></div>
                            <div class="groupItem__bal"></div>
                            <div class="groupItem__formLern">Бюджет</div>
                        </div>
                        <div class="groupItem">
                            <div class="groupItem__id">7</div>
                            <div class="groupItem__name"></div>
                            <div class="groupItem__lastName"></div>
                            <div class="groupItem__bal"></div>
                            <div class="groupItem__formLern">Бюджет</div>
                        </div>
                        <div class="groupItem">
                            <div class="groupItem__id">8</div>
                            <div class="groupItem__name"></div>
                            <div class="groupItem__lastName"></div>
                            <div class="groupItem__bal"></div>
                            <div class="groupItem__formLern">Бюджет</div>
                        </div>
                        <div class="groupItem">
                            <div class="groupItem__id">9</div>
                            <div class="groupItem__name"></div>
                            <div class="groupItem__lastName"></div>
                            <div class="groupItem__bal"></div>
                            <div class="groupItem__formLern">Бюджет</div>
                        </div>
                        <div class="groupItem">
                            <div class="groupItem__id">10</div>
                            <div class="groupItem__name"></div>
                            <div class="groupItem__lastName"></div>
                            <div class="groupItem__bal"></div>
                            <div class="groupItem__formLern">Бюджет</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>