@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #274E7D;
}

.title {
  font-size: 40px;
  text-align: center;
}

.panel {
  background-color: #ecf1ff;
  border-radius: 7px;
  padding: 20px 10px 20px;
}

.button {
  background-color: #FF9C00;
  color: #ffffff;
  border-radius: 10px;
  font-size: 24px;
  padding: 15px 20px;
  border: none;
  outline: none;
}

.button:hover {
  background-color: #FFB540;
}

.input {
  font-size: 24px;
  padding: 0 5px;
  border-radius: 8px;
  outline: none;
  border: 2px solid black;
}

.input:focus {
  border-color: #FF9C00;
}

.auth {
  position: fixed;
  width: 70%;
  height: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px 0 30px;
  border-radius: 10px;
  max-width: 800px;
}

.auth__title {
  text-align: center;
  margin-bottom: 5%;
}

.auth__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.auth__item {
  position: relative;
  width: 30%;
  border-radius: 15px;
  overflow: hidden;
}

.auth__item::after {
  content: '';
  display: block;
  width: 100%;
  padding-top: 100%;
}

.auth__link {
  position: absolute;
  top: 0;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.login {
  width: auto;
  padding: 30px 50px;
}

.formAuth__password {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 250px;
  height: 40px;
}

.formAuth__submit {
  display: block;
  margin: 0 auto;
}

.groups {
  width: 80%;
  min-height: 100vh;
  background-color: #ecf1ff;
  margin: 0 auto;
  max-width: 1000px;
  min-width: 600px;
  padding: 50px 10px 30px;
}

.group__number {
  color: #fff;
  font-size: 26px;
}

.group__list {
  border: 2px solid black;
}

.list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #c4c4c4;
}

.groupItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.groupItem:nth-child(2n) {
  background-color: #8F8F8F;
}

.groupItem:nth-child(2n-1) {
  background-color: silver;
}

.groupItem > * {
  border-right: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}

.groupItem > *:last-child {
  border: none;
}

.groupItem__id {
  -webkit-box-flex: 5%;
      -ms-flex: 5% 0 0px;
          flex: 5% 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.groupItem__name {
  -webkit-box-flex: 35%;
      -ms-flex: 35% 0 0px;
          flex: 35% 0 0;
}

.groupItem__lastName {
  -webkit-box-flex: 35%;
      -ms-flex: 35% 0 0px;
          flex: 35% 0 0;
}

.groupItem__bal {
  -webkit-box-flex: 12.5%;
      -ms-flex: 12.5% 0 0px;
          flex: 12.5% 0 0;
}

.groupItem__formLern {
  -webkit-box-flex: 12.5%;
      -ms-flex: 12.5% 0 0px;
          flex: 12.5% 0 0;
}

.formingGroupPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 50vh;
  min-height: 450px;
  max-width: 880px;
  margin: 15vh auto 0;
}

.formingGroupPanel__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 30px;
}

.formingGroupPanel__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.formingGroupF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.formingGroupF__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  margin-right: 70px;
  color: #0e0e0e;
}

.formingGroupF__inputDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formingGroupF__numGroup {
  margin-bottom: 50px;
}

.formingGroupF__numInput {
  width: 70px;
  height: 40px;
}

.formingGroupF__precentBud {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 30px;
}

.formingGroupF__precentBud > label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.formingGroupF__sub {
  text-align: center;
}

.formingGroupF__subBut {
  display: inline-block;
  border: none;
  min-width: 300px;
}
