<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Group</title>
</head>

<body>
<div class="wrapper">
    <header class="header">

    </header>
    <main class="main">
        <div class="groups">
            <div class="group" th:each="student, stStat : ${students}">
                <div th:text="Группа + ' ' + ${stStat.index + 1}" class="group__number">Группа 1</div>
                <div class="group__list">
                    <div class="groupItem list__title">
                        <div class="groupItem__id">ID</div>
                        <div class="groupItem__name">Ім'я</div>
                        <div class="groupItem__lastName">Прізвище</div>
                        <div class="groupItem__bal">Бал</div>
                        <div class="groupItem__formLern">Форма навчання</div>
                    </div>
                    <div th:each="s, sStat : ${students.get(stStat.index)}" class="groupItem">
                        <div th:text="${sStat.index + 1}" class="groupItem__id">1</div>
                        <div th:text="${{s.getFirstName()}}"class="groupItem__name">FirstName</div>
                        <div th:text="${{s.getLastName()}}"class="groupItem__lastName">LastName</div>
                        <div th:text="${{s.getPoints()}}"class="groupItem__bal">Points</div>
                        <div th:text="${{s.getPriority()}}"class="groupItem__formLern">Priority</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>

</html>